<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html>
<head>
	<head>
 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

   <link rel="stylesheet" href="/path/to/font-awesome/css/font-awesome.min.css">
   <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
   <link rel="stylesheet" href="/css/page.css">

</head>
	<title>HackathonHUB Dashboard</title>
</head>
<body>

	<header>
		<% include ../partials/header %>
	</header>

	<main>
    <header>
        <% include ../partials/header %>
    </header>
    <br>
		<div class="container">
			<div class="greyBg">
				<div class="row justify-content-center">
					<div class="col-sm-3">
						<img class="img-fluid profilePic" src="/img/profilePic.png" width="180px" height="180px">
					</div>
					<div class="col-sm-9 info">
						<h5 class="about"><%= userData.firstName %>   <%= userData.lastName %>  </h5>
						<h5><strong>Title:</strong> Student</h5>
						<h5><strong>Username:</strong> <%= userData.userName %> </h5>
						<h5><strong>Description: </strong> <%= userData.firstDescription %> Lorem ipsum dolor sit amet, tempor nostrum senserit an nec. His alia offendit in. Quodsi imperdiet vel te, cetero apeirian usu ut. Vis eu ornatus accusamus ullamcorper. Tollit eruditi postulant ius ne, ne nec timeam audire tibique. Nominavi corrumpit vix cu, dignissim argumentum cum ut, in facer choro omnes mei. Mea equidem phaedrum euripidis at, eu utamur eloquentiam est.	</h5>
						<h5><strong>Languages: Full Stack, Web Dev, Backend  <%= eventNames[0] %></strong> </h5> <!--Put drop-down menu here-->
					</div>
				</div>
			</div>
		</div>

        <div class="container">
		<div class="lowerTwoThirds">
			<div class="teamBg">
			<table class="table table-striped">
  			<thead>
    			<tr>
      			<th scope="col"><a class="about">#</a></th>
      			<th scope="col"><a class="about">Upcoming Hackathons</a></th>
      			<th scope="col"><a class="about">Teams</a></th>
    			</tr>
  			</thead>
  			<tbody class="about">
                <% if(teamNames != null) { %>
   				<% if(eventNames != null){ %>
  				<% for(var i=0; i < eventNames.length; i++) { %>
    			<tr>
      			<th scope="row"><%= i+1 %></th>
      			<td><a class="about" href="/event/<%= eventIDs[i]%>"> <%= eventNames[i] %> | </a>
            </td>
      			<td><%= teamNames[i] %> </td>
    			</tr>
    			<% } %>
    			<% } %>
          <% } %>
  			</tbody>
			</table>
			</div>
		</div>
        </div>

		<!-- I need to fix the way the teams are displayed, but this is the basic outline-->


	 </div>

	</main>


	<footer>
    	<% include ../partials/footer %>
	</footer>
</body>
</html>