<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<script src="https://code.jquery.com/jquery-3.1.1.js"
integrity=sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
crossorigin="anonymous"></script>
<script type="text/javascript" src="javascripts/script.js"></script>

<header>
    <% include ../partials/header %>
</header>

<main>
  <div class= "container">
    <form action = "/searchreq" method= "post">
      <div class="form-row">
         <div class="input-group mb-3">
            <input type="text" class="form-control" id="eventName" name="eventName" placeholder="Search for events">
            <div class="input-group-append">
              <button type="submit" class="btn btn-outline-secondary" value="accept">Search</button>
            </div>
          </div>
      </div>
    </form>

      <div class="row">
        <% if( (testing != null) && (start != null)){ %>
        <% for(var i=0; i < data.length; i++) { %>
        <div class= "col-sm-3">
          <form action="/event/" method="get">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"> <%= data[i].eventName %></h5>
              <h6 class="card-subtitle mb-2 text-muted"> <%= data[i].timeStart %> to <%= data[i].timeEnd %> </h6>
              <p class="card-text"> <%=data[i].eventAddress%> <br> <%=data[i].eventCity%> <%=data[i].eventZip%> </p>
              <button type="submit" class="btn btn-primary btn-sm" value="accept"> View </button>
            </div>
          </div>
        </form>
      </div>
        <% } %>
        <% } %>

        <% if ((data == null) && (start != null)) { %>
            <div class="alert alert-warning alert-dismissible fade show col-sm-12" role="alert">
              <strong> No results found with those keywords. Please try again. </strong>
            </div>
            <%}%>
    </div>
  </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>